<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://btrservices.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>btrservices.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BTRServices</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BTRServices</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BtrDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=btrsql.database.windows.net;Initial Catalog=tc_BudgetTransfer;Persist Security Info=True;User ID=kcadmin;Password=NJ@zec12y" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BTRServices.DAL.BtrDbContext, BTRServices" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HrDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=btrsql.database.windows.net;Initial Catalog=tc_HRForms;User ID=kcadmin;Password=NJ@zec12y;Application Name=EntityFramework" Name="Data Source=btrsql.database.windows.net;Initial Catalog=tc_HRForms;User ID=kcadmin;Password=NJ@zec12y;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=btrsql.database.windows.net;Initial Catalog=tc_HRForms;User ID=kcadmin;Password=NJ@zec12y;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HrDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DAL.HrEFModel.csdl|res://*/DAL.HrEFModel.ssdl|res://*/DAL.HrEFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=btrsql.database.windows.net;initial catalog=tc_HRForms;user id=kcadmin;password=NJ@zec12y;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BtrDbContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/DAL.BtrEFModel.csdl|res://*/DAL.BtrEFModel.ssdl|res://*/DAL.BtrEFModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=btrsql.database.windows.net;Initial Catalog=tc_BudgetTransfer;Persist Security Info=True;User ID=kcadmin;Password=NJ@zec12y"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HrDbContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/DAL.HrEFModel.csdl|res://*/DAL.HrEFModel.ssdl|res://*/DAL.HrEFModel.msl;provider=System.Data.SqlClient;provider connection string="data source=btrsql.database.windows.net;initial catalog=tc_HRForms;user id=kcadmin;password=NJ@zec12y;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HrDbContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/DAL.HrEFModel.csdl|res://*/DAL.HrEFModel.ssdl|res://*/DAL.HrEFModel.msl;provider=System.Data.SqlClient;provider connection string="data source=btrsql.database.windows.net;initial catalog=tc_HRForms;user id=kcadmin;password=NJ@zec12y;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>