<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="BtrDbContext" connectionString="metadata=res://*/DAL.BtrEFModel.csdl|res://*/DAL.BtrEFModel.ssdl|res://*/DAL.BtrEFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tc-prod-sqlsvr.eastus2.cloudapp.azure.com,2638;Initial Catalog=tc_BudgetTransfer;Persist Security Info=True;User ID=tc_budget_user; Password=45-NemoD-79**;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="HrDbContext"  connectionString="metadata=res://*/DAL.HrEFModel.csdl|res://*/DAL.HrEFModel.ssdl|res://*/DAL.HrEFModel.msl;   provider=System.Data.SqlClient;provider connection string=&quot;data source=tc-prod-sqlsvr.eastus2.cloudapp.azure.com,2638;initial catalog=tc_HRForms;user id=tc_budget_user;password=45-NemoD-79**;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>