<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="BtrDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=tc-prod-sqlsvr.eastus2.cloudapp.azure.com,2638;Initial Catalog=tc_BudgetTransfer;Persist Security Info=True;User ID=tc_budget_user; Password=45-NemoD-79**"  xdt:Transform="Replace"/>
  </connectionStrings>
</configuration>

